.logo {
    width: 130px;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0b879;
    padding: 10px 100px; 
}

.tabContainer {       
    display: flex;
    align-items: center;
}

.tabs {
    margin-left: 20px;
}

.iconContainer {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.iconContainer svg {
    width: 20px;
    height: 20px;
    color: #979899;
}

.iconContainer:hover {
    background-color: #b3782d;
    border: 1px solid #b3782d;
    border-radius: 6px;
}

.marginLeft {
    margin-left: 10px;
}

.total {
    color: #777;
    font-size: 20px;
    font-weight: 500;
    margin-left: 3px;
}

@media (max-width: 600px){
    .logo {
        width: 75px;
    }
    
    .navBarContainer {
        padding: 10px 10px;
        background-color: #e0b879;
    }
}