.itemCountContainer {
    display: flex;
    align-self: flex-start;
}

.countButton {
    width: 3em;
    background-color: #fff;
    border: 2px solid #e3e4e6;
}

.countButton[disabled] {
    width: 3em;
    background-color: #e5cea0;
    border: 2px solid #e3e4e6;
}

.countInput {
    width: 4em;
    border: 2px solid #e3e4e6;
    text-align: center;
}

.button {
    width: 100%;
    background: #b3782d;
    border: 2px solid #b3782d;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    margin-top: 10px;
}